
.container,
.container_fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto
}
@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

 /* Hero banner */
.heroCardWrap{

}
.heroCardBody{
  margin-bottom: 2.5rem;
} 
.heroCardBox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.5rem;
}
.heroCardBoxItem{
  position: relative;
    height: 530px;
    width: 100%;
    /* background-position: center !important; */
    background-position: center center !important;
    /* background-size: contain !important; */
    background-repeat: no-repeat !important;
}
.heroCardBoxItem::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #00000073;
}
.heroCardBoxItem:hover::after{
  background-color: #c0c0c040;
}
.heroCardBoxItemImg{
  width: 100%;
  height: 430px;
  display: none;
}
.heroCardBoxItemInfo{
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 15px;
  color: var(--bodyColor);
  z-index: 2;
}
.heroCardBoxItemBags{
  text-transform: uppercase;
  background-color: var(--bodyBg);
  padding: 2px 5px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: unset;
  width: fit-content;
  border-radius: var(--border-radius);
}
.heroCardBoxItemName{
  margin-bottom: 0px;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .heroCardBox{
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 1.5rem;
  }
}

/* promo */
.promoWrap{

}
.promoBody{

}
.promoBox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 25px 0px;
  grid-column-gap: 1.6rem;
}
.promoBoxItem{
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  /* border: 5px solid #626159; */
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.promoBoxItem:not(:last-child){
  margin-right: 25px;
}
.promoImg{
  width: 100%;
  height: 100%;
}
.promoInfo{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.promoName{
  font-size: 1.6rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.promoBoxItem::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #00000040;
}
.promoBoxItem:hover::after{
  background-color: #c0c0c040;
}

/* latest */
.latestWrap{

}
.latestBody{
  display: grid;
  grid-template-columns: 75% 25%;
}
.latestContent{
  margin-right: 2.6rem;
}
.titleName{
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.latestBox a{
  color: unset;
  text-decoration: unset;
}
.latestBoxItem{
  display: grid;
  grid-template-columns: 35% 65%;
  margin-bottom: 2.5rem;
}
.latestImg{
  width: 100%;
}
.promoTitles{
  display: flex;
  justify-content: center;
  align-items: end;
}
.promoTitles h4{
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--bodyColor);
  text-transform: uppercase;
  margin: 0;
  white-space: nowrap;
}
.headingLine{
  height: 0.5rem;
    background-color: rgb(246, 246, 246);
    width: 100%;
    margin-bottom: 0.75rem;
    margin-left: 0.5rem;
}
.LatestTitles{
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--bodyColor);
  text-transform: uppercase;
}
.latestInfo{
  margin-left: 25px;
  width: 80%;
}
.latestInfo h6{
  font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 16px;
    margin: 0;
    color: #7d581b;
}
.latestInfo p{
  font-size: 2.2rem;
    text-transform: capitalize;
    color: var(--bodyColor);
    text-decoration: none;
    font-weight: 600;
    margin: 0;
    margin-top: 6px;
    font-family: var(--font-family);
}
.latestInfo p:hover{
  text-decoration: underline;
  color: #7d581b;
}
/* .latestInfo span{
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
} */
.latestInfo h5{
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
.trendingTopWrap{

}
.listingDetailsWrap{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.trendingTopWrap img{
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}
.trendingTopHead{
  padding: 15px;
  background-color: #eeeeee;
  text-transform: capitalize;
  overflow: hidden;
  border-radius: var(--border-radius);
}
.trendingTopTitle{
  font-size: 2rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.trendingTopBody{

}
.trendingTopBody ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.trendingTopBody ul li:not(:last-child){
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #212526;
}
.trendingTopBody ul h4{
  font-size: 1.6rem;
}
.trendingTopBody ul p{
  font-size: 1.2rem;
  color: #b6b5b5;
  margin: 0;
}
.subListingsItem{
  display: grid;
  grid-template-columns: 35% 65%;
  margin-bottom: 2.5rem;
  margin-right: 2.5rem;
}
.subListingsItem figure{
  margin: 0;
  margin-right: 1.6rem;
}
.subListingsItem p{
  margin: 0;
  font-weight: 600;
  height: fit-content;
  cursor: pointer;
}
.subListingsItem p:hover{
  text-decoration: underline;
  color: #7d581b;
}
.listingDetailMainImg{
  margin-bottom: 2.6rem;
}
.listingDetailMainImg img {
  width: 100%;
  overflow: hidden;
}
.listingDetailMainTitle{
  font-size: 4.5rem;
    line-height: 50px;
    margin-bottom: 1.5rem;
    font-family: var(--font-family);
}
.listingDetailsBody {
  width: 80%;
  margin: auto;
}
.subListingDetailsItem {
  margin-right: 2.6rem;
}
.subListingDetailsItem p{
}
.subListingDetailsItem table{
  border-collapse: collapse;
    width: 100%;
}
.subListingDetailsItem table td{
  border: 1px solid;
    padding: 0.5em;
}
.subListingDetailsItem table .has-text-align-center,
.subListingDetailsItem table [data-align="center"]{
  text-align: center;
}
.subListingDetailsItem ul li{
  margin-bottom: 1rem;
}
.subListingDetailsItem .wp-block-heading,
.subListingDetailsItem ul,
.subListingDetailsItem p,
.subListingDetailsItem img,
.subListingDetailsItem h1,
.subListingDetailsItem h2,
.subListingDetailsItem h3,
.subListingDetailsItem h4,
.subListingDetailsItem h5,
.subListingDetailsItem h6,
.subListingDetailsItem table{
  margin-top: 1.9rem;
  margin-bottom: 0px;
  font-family: sans-serif;
  font-size: 1.8rem;
}
@media screen and (max-width: 768px) {
  .subListingDetailsItem table img{
    width: 100% !important;
    height: 100%;
  }
}
.subListingDetailsItem table img{
  margin: 0px !important;
  height: auto;
}
.subListingDetailsItem h1.wp-block-heading,
.subListingDetailsItem h1,

.subListingDetailsItem h2.wp-block-heading,
.subListingDetailsItem h2{
  font-size: 4rem;
  font-family: var(--font-family);
}
.subListingDetailsItem h3.wp-block-heading,
.subListingDetailsItem h3{
  font-size: 3.4rem;
  font-family: var(--font-family);
}

/* .subListingDetailsItem h2.wp-block-heading,
.subListingDetailsItem h2{
  font-size: 4rem;
  font-family: var(--font-family);
} */
.subListingDetailsItem h4.wp-block-heading,
.subListingDetailsItem h4{
  font-size: 2.4rem;
  font-family: var(--font-family);
}

.author-section{
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}
.author-section span{
  font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
}
@media screen and (max-width: 768px) {
  .latestBody{
    grid-template-columns: 100%;
  }
  .promoBox{
    grid-template-columns: 1fr;
    grid-row-gap: 1.6rem;
  }
  .latestContent{
    margin: 0;
  }
  /* .latestInfo p{
    font-size: 1.7rem;
  } */
  .listingDetailsBody{
    width: 100%;
  }
}

.breadCrumb {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  padding: 1.6rem 0px;
}
.breadCrumb svg{
  margin: 0px 0.75rem 0.2rem;
    font-size: 1.3rem;
}
.breadCrumb a,
.breadCrumb h4{
  margin: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 400;
    font-family: sans-serif;
}
.breadCrumb h4{
  display: flex;
    overflow: auto;
}
.breadCrumb span{
  color: #7d581b;
  white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}




@media screen and (max-width: 768px) {
    .latestBoxItem{
        display: block;
        margin-bottom: 2.5rem;
      }
  }